@font-face {
    font-family: 'bahnschrift';
    src: url('_FONT/bahnschrift.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color:rgba(31, 31, 31, 91%);
}

h1 {
    font-family: bahnschrift;
}
p {
    font-family: bahnschrift;
}


#page {
    background-color: rgba(0, 0, 0, 25%);
    padding: 20px;
    width: 920;
    margin: auto auto auto auto;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: 0px 0px 2px -2px gray;

    
}

#conteudo {

    color: white;
    padding: 20px;
    margin: 80px  auto auto 30px;
}



/* Mexendo em toda lista */
#main-menu ul{
    background-color: rgba(100, 89, 5, 100%);
    list-style: none;
    padding: 20px;
    width: 920;
    margin: auto auto auto auto;
    /* box-shadow: 0px 0.5px 0.2px 0px;*/
    
}

/* Mexendo na lista por item */
#main-menu ul li {
    background-color: none;
    list-style: none;
    display: inline;
    
}

/* Mexendo na lista por item e por link */
#main-menu ul li a {
    background-color: none;
    list-style: none;
    display: inline;
    padding: 10px 30px 10px;
    display: inline-block;
    color: rgba(198, 171, 186, 22%);
    text-decoration: none;
    font-family: bahnschrift;;
}

#main-menu ul li a:hover {
    color: rgba(56, 44, 68, 58%);
    transition: 0.5s;
}

code {
    background-color: rgba(65, 71, 147, 100%);
    border-radius: 3px;
    padding: 4px;
}

